<div id="tabstrip-profile"
        data-role="view"
        data-title="Profile">

         <div data-role="view" id="userProfileView" data-title="Profile">
           <h1> </h1>
        </div>
        
        <script id="profileTemplate" type="text/x-kendo-template">
			<a href="\#telerikhelperdetailview?Id=#:uid#"
				   class="km-listview-link"
				   data-role="listview-link">
				  <p class="titlecs">#=title#</p>
			      <p class="datecs">#=pubDate#</p>
		    </a>
		</script>
    </div>


