<div id="tabstrip-profile"
        data-role="view"
        class="corpbookview"
        data-title="Profile" data-init="profileInit">
 
           <div id="loggedUserDetails"> </div>

    </div>


    <script id="profileTemplate" type="text/x-kendo-template">
<div class="profile-details-wrapper">
            <img id="userPicture" />
        <div class="personal-details">
    <h2 class="user-name">#=FirstName# #=LastName#</h2>
        </div>
        </div>

       <ul class="profile-details-list">

       <li><i class="fa fa-keyboard-o"></i> <span> #=Role#</span></li>
       <li><i class="fa fa-map-marker"></i> <span> #=Office#</span></li>
        <li><div class="score-card"><div class="score-points"><div>#=GamerScore#</div>Points</div></div></li>
        </ul>
        <div class="clr"></div>
        <div class="scoreboard">
        
        <div id="profileChart"></div>
       <div class="recognition-note"><i class="fa fa-star"></i> People guess you right #= Math.floor((RecognitionPlus)/(RecognitionPlus + RecognitionMinus)*100) # % of the time</div>
        
</div>
		</script>

