<div id="tabstrip-quiz"
        data-role="view"
        data-title="Quiz"
    class="corpbookview"
        >
        <div class="view-content;" style="margin:2em">
            <div align="center">
                <div style="margin:10px">THIS PERSON WORKS IN ...</div>
            </div>
            <div align="center">
                <div style="float:left">
                     <img src="Images/lohith.jpg" />         
                </div>
                 <div style="float:right">
                     <a style="width:100px;margin:5px" data-role="button" data-icon="details">Next</a><br>
                     <a style="width:100px;margin:5px" data-role="button" data-icon="questionmark">Hint</a><br>
                     <a style="width:100px;margin:5px" data-role="button" data-icon="flag">Flag</a><br>
                     <a style="width:100px;margin:5px" data-role="button" data-icon="meet">Meet</a><br>
                 </div>
            </div>
            <div align="center">
                <a data-role="button" style="width:220px;">PALO ALTO OFFICE</a><br/>
                <a data-role="button" style="width:220px">INDIA OFFICE</a><br/>
                <a data-role="button" style="width:220px">SOFIA OFFICE</a>
            </div>
            
        </div>

    </div>